.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://wallpapertag.com/wallpaper/full/6/2/1/732193-full-size-1920x1080-car-wallpapers-1920x1080-download.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}